<div id="entries-calendar">
<h2 id="month">
    <%= link_to "<", date: @date.prev_month, :class => 'date', remote: true %>
  
    <%= @date.strftime('%Y-%b-%d') %>
    <%= link_to ">", date: @date.next_month, :class => 'date', remote: true  %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @entries_by_date[date.strftime('%Y-%m-%d')] %>
      <ul>
        <% @entries_by_date[date.strftime('%Y-%m-%d')].each do |entry| %>
          <li><%= link_to "#{entry.content[0..14]}...", entry %></li>
        
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>



