
 <%= form_for @journal_entry, remote: true do |f| %>
    <%= f.text_area :content,:autofocus => true, :class => "text"%><br>
    <div class="journal-details">
      <%= f.label "enter some tags seperated by commas." %>:
      <%= f.text_field :tags, value: '' %><br>
        <%= f.submit "Submit", :class => "journal-submit" %>
      </div>
  <% end %>
