 
 <%= form_for @journal_entry, remote: true do |f| %>
    <%= f.text_area :content,:autofocus => true, :class => "text"%><br>
    <div class="journal-details">
      <%= f.label "select a rating for how you feel (1 is bad 5 is great)"  %>:
      <%= f.select :emotion_rating, options_for_select((1..5).to_a) %><br>
      <%= f.label "enter some tags seperated by commas." %>:
      <%= f.text_field :tags, value: '' %><br>
        <%= f.submit "Submit", :class => "journal-submit" %>
      </div>
  <% end %>