<!-- <div class="container"> -->
  <div class="top-bar">
   <h2>Your Journal Entry on: <%= Date.parse(@entry.created_at.to_s) %></h2>
  </div>
  <div class="content">
    <p><%= @entry.content %></p>
  </div>
  <div class="tagged">
    <% @entry.tags.each do |tag| %>
      <%= link_to "##{tag.name} ", tag_path(tag.name), :class => 'user-entry', remote: true %>
    <% end %>
  </div>
</div>

<div class="keyword-graph">
  <%= form_for(:show_graph, url: show_graph_path, html: { class: 'show-graph' }, remote: true) do |f| %>
    <%= f.submit value: 'Show Graph', class: 'journal-submit' %>
  <% end %>
  <h3 id="journal-info"></h3>


    <div class="chart-description">
      <p>Click on the sentiment-ring below to</p>
      <p>view this journal's emotional-keyword summary.</p>
   </div>

  <div class='keyword-name' id='keyword-name'></div>
  <div class="d3">
  </div>
</div>


<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
