<div class="container">
  <div class="top-bar">
    <span><h2>Please create a new journal entry:</h2></span>
  </div>

  <div class="user-signup"></div>

  <%= form_for @journal_entry, html: { class: 'new-journal-unregistered' } do |f| %>
    <%= f.text_area :content, :class => "text"%><br>
      <div class="journal-details">
      <%= f.label "enter some tags seperated by commas." %>:<br>
      <%= f.text_field :tags, value: '' %><br>
      <%= f.submit "Submit", :class => "journal-submit" %>
    </div>
  <% end %>

</div>
