<!DOCTYPE html>
<html>
<head>
  <title>Ponies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="nav-left">
      <%= link_to (fa_icon "pencil-square-o 2x") , root_path, :content => "Your Journal" %>
      <% if user_signed_in? %>
        <%= link_to fa_icon("bar-chart-o 2x"), root_path, content: "Your Stats" %>
      <% end %>
    </div>
    <div class="nav-right">
       <% if user_signed_in? %>
      <span><%= link_to "logout", destroy_user_session_path, :method => :delete %></span>
      <% else %>
       <%= link_to "Login", new_user_session_path %>
    <% end %>
    </div>
  </nav>

<%= yield %>
<footer>

</footer>
</body>
</html>
